@font-face {
  font-family: "Mantinia";
  src: url("/assets/fonts/Mantinia.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  align-items: stretch;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  justify-content: stretch;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
[role="heading"] {
  font-family: Mantinia;
}

h1, [aria-level="1"] {
    font-size: 32px;
}

.base-nav {
  background: rgb(0 0 0 / 86%);
  color: white;
  height: 64px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;
}

.base-nav-content {
  align-items: center;
  display: inline-grid;
  max-width: 1040px;
  padding: 16px;
  width: 100%;
}

.base-main {
  background: rgb(0, 0, 0, 0.95);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-height: 100%;
  overflow: auto;
  width: 100%;
}

.base-main-content {
  background: rgb(24, 24, 24);
  max-width: 1040px;
  padding: 16px;
  width: 100%;
}
