@font-face {
  font-family: "Mantinia";
  src: url("/assets/fonts/Mantinia.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  color: hsl(29 55% 89% / 1);
  font-family: Lato;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  padding: 0 32px;
}

h2, h3, h4, h5 {
  margin: 36px 0 16px 0;
}

body {
  align-items: stretch;
  background-color: #16161d;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  justify-content: stretch;
  width: 100%;
}

.base-logo {
  font-family: Mantinia;
  font-size: 32px;
  top: 5px;
}

.base-logo > a {
  font: inherit;
  font-weight: normal;
  text-decoration: none;
  text-shadow: hsl(30 61% 69%) 1px 0 4px;
}

.base-nav-container {
  background: rgb(0 0 0 / 86%);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  height: 64px;
  justify-items: center;
  width: 100%;
  z-index: 1000;
}

.base-nav-content {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  max-width: 1040px;
  padding: 0 16px;
  width: 100%;
}

.base-nav {
  height: 48px;
}

.base-nav-menu {
  display: flex;
  height: 48px;
  list-style: none;
  margin: 0;
  text-align: center;
}

.base-nav-menuitem {  
  align-items: center;
  display: grid;
  height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  z-index: 0;
}


.base-nav-menuitem > .base-nav-submenu,
.base-nav-menuitem > .base-nav-submenu {
  display: none;
}

.base-nav-menuitem:hover > .base-nav-submenu,
.base-nav-menuitem:focus-within > .base-nav-submenu {
  display: block;
}

.base-nav-menuitem > a {
  display: block;
  font-family: inherit;
  font-weight: inherit;
  height: inherit;
  line-height: inherit;
  padding: 0 16px;
  text-decoration: none;
  z-index: 0;
}

.base-nav-menuitem > a:hover {
  background-color: black;
  outline: solid white 2px;
  outline-offset: -3px;
  z-index: 1;
}

.base-nav-submenu {
  height: 48px;
  line-height: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 164px;
}

.base-nav-submenuitem {
  align-items: center;
  background: rgb(0 0 0 / 86%);
  display: grid;
  grid-template-columns: 1fr;
  height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-align: end;
  z-index: 0;
}

.base-nav-submenuitem > a {
  display: block;
  font-family: inherit;
  font-weight: inherit;
  height: inherit;
  line-height: inherit;
  padding: 0 16px;
  text-decoration: none;
  z-index: 0;
}

.base-nav-submenuitem > a:hover {
  background-color: black;
  outline: solid white 2px;
  outline-offset: -3px;
}

.base-main {
  background-color: rgb(0, 0, 0, 0.45);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.base-main-content {
  background: linear-gradient(
    to right,
    transparent 0,
    rgb(0, 0, 0, 0.25) 10%,
    rgb(0, 0, 0, 0.25) 90%,
    transparent 100%
  );
  max-width: 1040px;
  padding: 16px;
  width: 100%;
}

.hero {
  align-content: center;
  display: grid;
  height: 100%;
  justify-content: center;
}

.hero-action-container {
  display: flex;
  padding: 24px;
  place-content: center;
}

.hero-action {
  background:rgb(0 0 0 / 75%);
  border-radius: 12px;
  box-shadow: 2px;
  color: white;
  display: inline-grid;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: hsl(30 61% 69%) 1px 0 4px;
  width: auto;
  border: 1px solid white;
}

.hero-action:hover,
.hero-action:focus
 {
  background: black;
  outline-offset: -2px;
  outline: solid white 2px;
}

.hero-title {
  color: hsl(30 61% 69% / 1);
  font-family: Mantinia;
  font-size: 64px;
  max-width: 480px;
  text-align: center;
}

.hero-description {
  color: hsl(29 55% 89% / 1);
  max-width: 480px;
  text-align: center;
}


.challenges-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 16px;
  width: 100%;
}

.challenges-griditem {
  background: black;
  background-size: cover;
  border-radius: 8px;
  box-shadow:  0px 0px 4px 0px black;
  height: 286px;
  list-style: none;
  width: 480px;
}

.challenges-griditem:hover,
.challenges-griditem:focus-within {
  box-shadow:  0px 1px 4px 2px hsl(30 61% 69% / 45%);
}

.challenges-griditem > a {
  display: grid;
  font-family: Mantinia;
  font-size: 48px;
  place-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-shadow: hsl(30 61% 69%) 1px 0 10px;
  filter: drop-shadow(2px 4px 6px black);
}

.challenges-griditem > a:hover,
.challenges-griditem > a:focus {
  filter: none;
}

.challenge-goal-list {
  display: grid;
  gap: 8px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.challenge-title {
  font-family: Mantinia;
  font-size:  94px;
  padding: 64px;
  width: 100%;
  display: grid;
  place-content: center;
  text-shadow: hsl(30 61% 69%) 1px 0 10px;
}

.challenge-goal {
  background-color: rgb(0, 0, 0, 0.25);
  align-items: center;
  margin: 0;
  display: flex;
  border-radius: 12px;
  padding: 12px 16px;
  max-width: 480px;
  width: 100%;
}

.challenge-goal-heading {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  padding-bottom: 8px;
}

.challenge-goal-checkbox {
  display: inline-grid;
  padding: 2px;
  inset-inline-start: -4px;
}